:root {
  --gradient-overlay: linear-gradient(
    rgba(4, 9, 30, 0.7),
    rgba(30, 4, 25, 0.7)
  );

  --background-color: #a2a49f63;
  --font-size: 1rem;

  --primary-color: antiquewhite;

  --secondary-color: 555;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Bodoni Moda", serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: var(--gradient-overlay), url(assets/background.jpg);
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  padding: 3.125rem 6.25rem;
  justify-content: center;
  align-items: center;
}
.nav-links {
  flex: 1;
  text-align: center;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 3.125rem 3.125rem;
}
.nav-links ul li a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 2rem;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 0.125rem;
  background: var(--primary-color);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  color: var(--primary-color);
  text-align: center;
}
.text-box h1 {
  font-size: 3.75rem;
  padding-top: 10rem;
}
.text-box h3 {
  padding: 1.5rem;
}
.text-box p {
  margin: 0.625rem 0 2.5rem;
  font-size: var(--font-size);
  color: var(--primary-color);
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  border: 0.0625rem solid #fff;
  padding: 0.75rem 2.125rem;
  font-size: var(--font-size);
  background: transparent;
  position: relative;
  cursor: pointer;
  margin: 2rem;
}
.hero-btn:hover {
  border: 0.0625rem solid rgba(4, 9, 30, 0.7);
  background: rgba(4, 9, 30, 0.7);
  transition: 1s;
}
nav .fa-solid {
  display: none;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 1.875rem 0;
  background-color: var(--primary-color);
}

.footer p {
  margin-bottom: 0.625rem;
  margin-top: 1.875rem;
  font-weight: 500;
}
.icons .fa {
  color: #7a7a78;
  margin: 0 0.875rem;
  cursor: pointer;
  padding: 1.125rem 0;
  text-decoration: none;
}

.icons .fa:hover {
  color: #c4302b;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.location {
  width: 80%;
  margin: auto;
  padding: 3.75rem 0 0rem;
}
.location iframe {
  width: 100%;
}
.contact {
  width: 80%;
  margin: auto;
}

.sub-header nav {
  min-height: 10vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(30, 4, 25, 0.7)),
    url(assets/background.jpg);
  background-position: bottom;
}

.form-label {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 1rem;
}
.form {
  margin: 0 auto;
  max-width: 40rem;
  width: 100%;
}

form {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 145, 0.213),
      rgba(32, 32, 32, 0.344)
    ),
    url(assets/contact.png);
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 10rem;
}
form h3 {
  color: var(--primary-color);
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}
form input,
form textarea {
  border: 0;
  margin: 0.625rem 0;
  padding: 1.25rem;
  outline: none;
  background: var(--primary-color);
  font-size: 0.875rem;
  text-align: start;
  border-radius: 0.625rem;
}
form button {
  padding: 0.9375rem;
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 1rem;
  margin-top: 0.625rem;
  border: 0.125rem solid var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: 0.5s;
}

form button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.yt-flex {
  background-image: linear-gradient(
      0deg,
      rgba(206, 201, 201, 0.8),
      rgba(206, 201, 201, 0.8)
    ),
    url(assets/yt-box.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.box-yt a {
  text-decoration: none;
  font-weight: bold;
  color: #0f0f0f;
  font-size: 1.5rem;
}

.box-yt a:hover {
  background-color: #0f0f0f;
  color: #f5f5f5;
  transition: 0.5s;
  border-radius: 0.3125rem;
  padding: 0.625rem;
}

#gallery {
  text-align: center;
}

.gallery-images {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 1rem;
  gap: 1.875rem;
  border-bottom: 0.3125rem solid var(--background-color);
}

#gallery h1 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-top: 1.875rem;
  font-size: 3rem;
}

.images {
  object-fit: cover;
  width: 100%;
  border-radius: 1.25rem;
}

.background-cs {
  background-color: var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.5rem;
}

.background-cs h1 {
  text-align: center;
  color: #333;
  margin: 2rem;
}

.background-cs h3 {
  text-align: center;
  color: #333;
}

.box-cs {
  display: flex;
  justify-content: center;
}

.box-cs img {
  max-width: 45rem;
  height: auto;
  margin: 2rem auto;
  border: 0.3125rem solid #999;
}

.title-coming-soon-desktop {
  width: 100%;
  text-align: center;
  padding: 1.875rem 0;
  background-color: var(--primary-color);
  font-size: 2rem;
}

.expanding-cards {
  display: flex;
  width: 100vw;
  background-color: #f9ead7;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  border-radius: 3.125rem;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 0.625rem;
  position: relative;
  transition: 0.8s;
  border: 0.3125rem solid gray;
}

.panel.active {
  flex: 9;
  border-radius: 3.125rem;
  max-width: 37.5rem;

  border: 0.3125rem solid gray;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 64rem) {
  .expanding-cards {
    display: none;
  }
  .title-coming-soon-desktop {
    display: none;
  }
}

@media (min-width: 64.0625rem) {
  .background-cs {
    display: none;
  }
  .text-box h3 {
    font-size: 1.5rem;
    margin: 1.5rem;
  }
}
@media (max-width: 37.5rem) {
  .box-yt a {
    font-size: 1rem;
  }

  .box-cs img {
    max-width: 20rem;
  }
}

@media (max-width: 45.9375rem) and (min-width: 37.5rem) {
  .box-cs img {
    max-width: 35rem;
  }
}
@media (max-width: 31rem) {
  .gallery-images {
    grid-template-columns: 1fr;
  }
}
